@import url(./reset.css);

@font-face 
{
    font-family: Aeonik-Air;
    src: url(./fonts/Aeonik-Air.otf);
}


:root 
{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;



    --main-bg-color:#83e88a  ; /* #83a7e8 //#83e8e6 //#e8a483 */
    --main-font: 'Aeonik-Air';
}


body 
{
    background-color: var(--main-bg-color);
}


#root
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
}