<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%= require('@porsche-design-system/components-react/partials').getFontLinks({ weights: ['regular', 'semi-bold'] }) %>
    <%= require('@porsche-design-system/components-react/partials').getFontFaceStylesheet() %>
    <%= require('@porsche-design-system/components-react/partials').getInitialStyles() %>
</head>
<body>
    <div id="root"></div>
</body>
</html>